venv
*.pt
.git
*.onnx
.obsidian



raw/*.[JjPp][PpNn][EeGg][Gg]
processed/*.[JjPpTt][PpNnXx][EeGgTt]

dataset/test/*.[JjPpTt][PpNnXx][EeGg][GgTt]
dataset/train/*.[JjPpTt][PpNnXx][EeGgTt]
dataset/valid/*.[JjPpTt][PpNnXx][EeGgTt]
dataset/*.cache


runs/