venv
*.pt
.git
*.onnx
.obsidian



raw/*.[JjPp][PpNn][EeGg][Gg]
processed/*.[JjPpTt][PpNnXx][EeGgTt]
processed/*.txt
processed/*.jpeg

dataset/test/*
dataset/train/*
dataset/valid/*
dataset/*.cache

images/
raw/


runs/